type=overlay

[com_2]
type=layer
x=457
y=256
width=53
height=41

[com_0]
layer=com_2
type=graphic
x=15
y=0
width=25
height=25
graphic=headicons,0

[com_1]
layer=com_2
type=text
x=17
y=24
width=20
height=4
center=yes
font=p12
shadowed=yes
text=Level: 126
colour=0xFFFF00
